In [122]:
def normalize(text):
    return " ".join(text.lower().split())
    

text = "  Hello   WORLD  "

normalize(text)

'hello world'

In [125]:
def word_frequency(text):
    dictionray = {}
    for i in text.split():
        dictionray[i] = dictionray.get(i,0) +1

    print(dictionray.items())


text = "what are you doing my doing friend"

word_frequency(text)

dict_items([('what', 1), ('are', 1), ('you', 1), ('doing', 2), ('my', 1), ('friend', 1)])

In [ ]:
def first_digit_index(text1):
    for i in range(len(text1)):
        if text1[i].isdigit():
            print(f"index is {i}")
            break
        else:
            pass
            


text1 = "sadg3fkljklj"
first_digit_index(text1)

index is 4

In [47]:
def is_valid_email(s):
    if email.startswith("@"):
        print("Must not start with @")
    elif email.endswith("@"):
        print("Must not end with @")
    elif email.count("@") > 1:
        print("should have 1 @")
    else:
        for i in range(len(email)):
            if email[i] == "@":
                after_email = email[i:]
                if after_email.count(".") >=1:
                    print("email is correct")
                else:
                    print("No . found after @")
                    break

            
email = "dauren@gmail.com"
is_valid_email(email)

email is correct

In [ ]:
# альтернативное решение 

def is_valid_email(s):
    if s.count("@") != 1:
        return False
    if s.startswith("@") or s.endswith("@"):
        return False
    at = s.index("@")
    domain = s[at+1:]          # часть после @
    if "." not in domain:
        return False
    if domain.startswith(".") or domain.endswith("."):
        return False
    return True

"hello world python"
→ "python world hello"

In [127]:
def reverse_words(phrase):
    return " ".join(reversed(phrase.split()))

phrase = "hello world python text"
reverse_words(phrase)

'text python world hello'

In [68]:
def hide_numbers(phone):
    new_phone = ""
    for i in range(len(phone)):

        if phone[i].isdigit():
            new_phone += "#"  
        else:
            new_phone += phone[i]
    print(new_phone)
        


phone = "phone 123-456"
hide_numbers(phone)

phone ###-###

In [97]:
def merge_counts(d1, d2):
    d3 = {}
    for i in d1:
            if i in d2:
                d3[i] = d1[i] + d2[i]
            else: 
                d3[i] = d1[i] 
    for key in d2.keys():
        if key not in d3.keys():
            d3[key] = d2[key]
                
    
    print(d3.items())


d1 = {'a':2,'b':1}
d2 = {'a':3,'c':4}

merge_counts(d1,d2)

dict_items([('a', 5), ('b', 1), ('c', 4)])

In [105]:
def strict_wrap(text3):
    if text3.startswith("(") and text3.endswith(")") and len(text3) >=2:
        return True
    else:
        return False

text3 = "(hello)"
strict_wrap(text3)

True

["Hello","123","WORLD","ok!"]
→ ["hello","world"]

In [112]:
def clean_words(words):
    clean = []
    for i in list2:
        if i.isalpha():
            clean.append(i.lower())
        else:
            pass
            
    print(clean)

    
list2 = ["Hello","123","WORLD","ok!"]
clean_words(list2)

['hello', 'world']

{
 "letters": X,
 "digits": Y,
 "spaces": Z
}

In [118]:
def char_types(text):
    types = {
                "letters": 0,
                "digits": 0,
                "spaces": 0
            }
    for i in range(len(text)):
        if text[i].isalpha():
            types["letters"]+=1
        elif text[i].isdigit():
            types["digits"]+=1
        elif text[i].isspace():
            types["spaces"]+=1
        else:
            pass
    print(types)


test = "dauren how old 123"
char_types(test)

{'letters': 12, 'digits': 3, 'spaces': 3}

In [ ]:
for i in range(3):
    for j in range(2):
        if i == j:
            
            break
    else:
            print(i)

1
2
2

Write the Python function onlyodd(xlist), xlist being a list of 10 integers in the range (1,20),
that returns a list containing only the odd numbers contained in the list xlist.

In [155]:
def onlyodd(xlist):
    return [x for x in xlist if x%2 != 0] 

onlyodd([1,2,3,4,5,6])

[1, 3, 5]

Write a function alternate_case(s) that returns the input string with characters in alternating upper and lower case, starting with uppercase.

In [169]:
def alternate_case(s):
    
        word =""
        for i, ch in enumerate(s):
            if i % 2 == 0:
                word += ch.upper() 
            else: 
                word += ch.lower()
        print(word)
    

alternate_case("heLLo")

HeLlO

Write a function digit_sum(n) that recursively returns the sum of the digits of an integer n.

In [ ]:
def digit_sum(n):
    if n == 0:
        return 0
    else:
        return n%10 + digit_sum(n//10)

digit_sum(3)

6

In [ ]:
ll = {
    'head': 10,
    10: 20,
    20: 5,
    5: None
}

current = ll['head']

while current is not None:
    print(current)
    current = ll[current]

NameError: name 'head' is not defined

In [189]:
name = {}

name["a"] = 5
name["b"] = 7
print(name)

name.get("a",0)
for key in name:
    if key in name:
        name[key] += 1
    else:
        name[key] = 1

{'a': 5, 'b': 7}

In [190]:
def count_letters(text):
    d = {}
    for key in text:
        if key.isalpha():        # считаем только буквы
            if key in d:
                d[key] += 1
            else:
                d[key] = 1
    return d


print(count_letters("hello"))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
def word_frequency(text):
    a = {}
    for key in text.lower().split():
        if key in a:
            a[key] += 1
        else: 
            a[key] = 1
    return a

word_frequency("Hello world hello world text")

{'hello': 2, 'world': 2, 'text': 1}

In [201]:
def group_by_length(words):

    a = {}

    for key in words:
        if len(key) in a:
            a[len(key)].append(key)
        else: 
            a[len(key)] = [key]
    return a

group_by_length(["a", "hi", "cat", "go", "dog"])

{1: ['a'], 2: ['hi', 'go'], 3: ['cat', 'dog']}

In [ ]:
def count_occurrences(lst, element):
    counting = 0
    for i in lst:
        if i == element:
            counting+=1
    return counting

In [203]:
def list_intersection(lst1, lst2):
    lst3 = []
    for i in lst1:
        if i in lst2:
            lst3.append(i)
    return lst3

lst1 = [1,2,3,4]

lst2 = [2,1,5]

list_intersection(lst1, lst2)

[1, 2]

In [210]:
def tuples_to_dict(tuples):
    d = {}
    for i,k in tuples:
        d[i] = k
    return d
        


atuple = [("a", 1), ("b", 2), ("a", 3)]
tuples_to_dict(atuple)

{'a': 3, 'b': 2}

In [ ]:
def tuples_to_dict(tuples_list):
    result = {}
    for key, value in tuples_list:
        result[key] = value
    return result

In [ ]:
def ds_max(lst):
    max_value = 0
    if len(lst) == 0:
        return None
    for element in lst:
        if element > max_value:
            max_value = element
    return max_value
    


    
lst = [1,2,3,4,456]
ds_max(lst)

In [225]:
def duplicates(lst):
    seen = []
    duplicate = []
    for value in lst:
        if value in seen:
            duplicate.append(value)
        else:
            seen.append(value)
    return duplicate



lst = [1,1,2,3,3,4]
duplicates(lst)

[1, 3]

In [ ]:
def char_frequency(text, char):
    count = 0
    for i,ch in enumerate(text):
        if char == text[i]:
            count+=1
    return count

char_frequency("hello", "l")

l
l
l
l
l

2

In [232]:
def unique(lst):
    unique = []
    for i in lst:
        if i not in unique:
            unique.append(i)
    return unique

unique([1,2,2,3,3,5,2])

[1, 2, 3, 5]

In [ ]:
def pangram(text):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    text = text.lower()
    for ch in alphabet:
        if ch not in text:
            return False
    return True

In [ ]:
def common_elements(a, b):
    unique = []
    for element in a:
        if element in b:
            if element not in unique:
                unique.append(element)
    return unique

In [240]:
def has_consecutive_triplet(lst):
    for i in range(len(lst) - 2):
        if lst[i] == lst[i+1] == lst[i+2]:
            return True
    return False

        
    
has_consecutive_triplet([1,1,1,1,2])

True

In [241]:
def sum_dict_values(d):
    sum = 0
    for values in d.values():
        sum+=values
    return sum

sum_dict_values({"a": 2, "b": 5, "c": 3})

10

In [243]:
def flatten(nested_list):
    new_list = []
    for i in nested_list:
        if len(i) > 1:
            print(len(1))
        else:
            new_list.append(i)

flatten([1, [2, 3], [4, [5, 6]]])

TypeError: object of type 'int' has no len()

In [ ]:
def dfs(graph, 

graph = {
  1: [2, 3],
  2: [4],
  3: [],
  4: []
}