In [1]:
while True:
    x = input("Enter a word (done to end)")
    print(x.upper())
    if x == 'done':
        break

Enter a word (done to end)done
DONE

In [2]:
mystring1 = 'hello everyone'

In [3]:
mystring2 = "hello everyone"

In [4]:
mystring1 == mystring2

True

In [5]:
mystring3 = "Have you gone to McDonald's"

In [6]:
mystring4 = 'Have you gone to McDonald\'s'

In [7]:
mystring3 == mystring4

True

In [8]:
print(mystring4[2])

v

In [9]:
print(mystring4[7])

u

In [10]:
print('-',mystring4[4],'-')
print('-',mystring4[8],'-')
print('-',mystring4[13],'-')
print('-',mystring4[16],'-')

-   -
-   -
-   -
-   -

In [11]:
print('-',mystring4[25],'-')

- ' -

In [12]:
mystring5 = 'hell\o'

In [13]:
mystring5

'hell\\o'

In [14]:
len('hello')

5

In [15]:
len(mystring4)

27

In [16]:
len(mystring3)

27

In [17]:
mystring6 = 'hello'

In [18]:
print(mystring6[0])

h

In [19]:
print(mystring6[len(mystring6)-1])

o

In [20]:
print(mystring6[-1])

o

In [21]:
print(mystring6[-2])

l

In [22]:
print(mystring6[-3])

l

In [23]:
print(mystring6[-4])

e

In [24]:
print(mystring6[-5])

h

In [25]:
print(mystring6[-len(mystring6)])

h

In [26]:
mystring4

"Have you gone to McDonald's"

In [27]:
i = 0
while i < len(mystring4):
    print(i, mystring4[i])
    i = i + 1

0 H
1 a
2 v
3 e
4
5 y
6 o
7 u
8
9 g
10 o
11 n
12 e
13
14 t
15 o
16
17 M
18 c
19 D
20 o
21 n
22 a
23 l
24 d
25 '
26 s

In [28]:
i = 0
while i < len(mystring4):
    print(i, mystring4[i], mystring4[i].upper())
    i = i + 1

0 H H
1 a A
2 v V
3 e E
4
5 y Y
6 o O
7 u U
8
9 g G
10 o O
11 n N
12 e E
13
14 t T
15 o O
16
17 M M
18 c C
19 D D
20 o O
21 n N
22 a A
23 l L
24 d D
25 ' '
26 s S

In [29]:
i = 0
while i < len(mystring4):
    print(i, mystring4[i], mystring4[i].upper())
    i += 1

0 H H
1 a A
2 v V
3 e E
4
5 y Y
6 o O
7 u U
8
9 g G
10 o O
11 n N
12 e E
13
14 t T
15 o O
16
17 M M
18 c C
19 D D
20 o O
21 n N
22 a A
23 l L
24 d D
25 ' '
26 s S

In [30]:
x = 10
x += 3 # x = x + 3

In [31]:
x

13

In [32]:
x -= 5 # x = x - 5
print(x)

8

In [33]:
x *= 4 # x = x * 4
print(x)

32

In [34]:
x /= 8 # x = x / 8
print(x)

4.0

In [35]:
for j in range(10):
    print(j)

0
1
2
3
4
5
6
7
8
9

In [36]:
for j in range(2, 11):
    print(j)

2
3
4
5
6
7
8
9
10

In [37]:
for j in range(1, 20, 3):
    print(j)

1
4
7
10
13
16
19

In [38]:
for i in range(1, 20, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

## Using the <code>range()</code> function, print ONLY the multiples of 6 contained in the interval 6, 36.

In [39]:
for i in range(6, 37, 6):
    print(i)

6
12
18
24
30
36

In [40]:
for i in range(len(mystring4)):
    print(i, mystring4[i], mystring4[i].upper())

0 H H
1 a A
2 v V
3 e E
4
5 y Y
6 o O
7 u U
8
9 g G
10 o O
11 n N
12 e E
13
14 t T
15 o O
16
17 M M
18 c C
19 D D
20 o O
21 n N
22 a A
23 l L
24 d D
25 ' '
26 s S

In [41]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [42]:
mystring4

"Have you gone to McDonald's"

In [43]:
counter = 0
for i in range(len(mystring4)):
    if mystring4[i] == 'a':
        counter = counter + 1
    print(i, mystring4[i], counter)

0 H 0
1 a 1
2 v 1
3 e 1
4   1
5 y 1
6 o 1
7 u 1
8   1
9 g 1
10 o 1
11 n 1
12 e 1
13   1
14 t 1
15 o 1
16   1
17 M 1
18 c 1
19 D 1
20 o 1
21 n 1
22 a 2
23 l 2
24 d 2
25 ' 2
26 s 2

In [44]:
jack = 0
i = 0
while i < len(mystring4):
    if mystring4[i] == 'a':
        jack += 1
    print(i, mystring4[i], jack)
    i += 1

0 H 0
1 a 1
2 v 1
3 e 1
4   1
5 y 1
6 o 1
7 u 1
8   1
9 g 1
10 o 1
11 n 1
12 e 1
13   1
14 t 1
15 o 1
16   1
17 M 1
18 c 1
19 D 1
20 o 1
21 n 1
22 a 2
23 l 2
24 d 2
25 ' 2
26 s 2

In [45]:
mystring4

"Have you gone to McDonald's"

In [46]:
mystring4[3]

'e'

In [47]:
mystring4[3:7]

'e yo'

In [48]:
mystring4

"Have you gone to McDonald's"

In [49]:
mystring4[9:16]

'gone to'

In [50]:
mystring4.split(' ')

['Have', 'you', 'gone', 'to', "McDonald's"]

In [51]:
mystring4.split('y')

['Have ', "ou gone to McDonald's"]

In [52]:
mystring4[:6]

'Have y'

In [53]:
mystring4[7:]

"u gone to McDonald's"

In [54]:
mystring4[:]

"Have you gone to McDonald's"

In [55]:
mystring4[2:20:2]

'v o oet c'

In [56]:
mystring4.find('D')

19

In [57]:
mystring4[20:2:-1]

'oDcM ot enog uoy e'

In [58]:
mystring4[::-1]

"s'dlanoDcM ot enog uoy evaH"

In [59]:
mystring4[::-2]

'sdaoc teo o vH'

In [60]:
mystring4[0] = 'h'

TypeError: 'str' object does not support item assignment

In [61]:
x = 10
print(x, type(x), id(x))

10 <class 'int'> 139856552821264

In [62]:
x = x + 4
print(x, type(x), id(x))

14 <class 'int'> 139856552821392

In [63]:
y = 12.34
print(y, type(y), id(y))

12.34 <class 'float'> 139856509902288

In [64]:
y = y * 2
print(y, type(y), id(y))

24.68 <class 'float'> 139856509908176

In [65]:
list1 = [10, 20, 30]
print(list1, type(list1), id(list1))

[10, 20, 30] <class 'list'> 139856484632512

In [66]:
list1.append(100)
print(list1, type(list1), id(list1))

[10, 20, 30, 100] <class 'list'> 139856484632512

In [67]:
list1[1] = 222
print(list1, type(list1), id(list1))

[10, 222, 30, 100] <class 'list'> 139856484632512

In [68]:
mystring4

"Have you gone to McDonald's"

In [69]:
print(mystring4, type(mystring4), id(mystring4))

Have you gone to McDonald's <class 'str'> 139856507837760

In [70]:
mystring4 = 'h' + mystring4[1:]
print(mystring4, type(mystring4), id(mystring4))

have you gone to McDonald's <class 'str'> 139856489454352

In [71]:
mystring4

"have you gone to McDonald's"

In [72]:
mystring4 = mystring4[:4] + '_'+ mystring4[5:]
print(mystring4)

have_you gone to McDonald's

In [73]:
mystring4 = "have you gone to McDonald's"
for i in range(len(mystring4)):
    if mystring4[i] == ' ':
        mystring4 = mystring4[:i] + '_' + mystring4[i+1:]
        print(i, mystring4)

4 have_you gone to McDonald's
8 have_you_gone to McDonald's
13 have_you_gone_to McDonald's
16 have_you_gone_to_McDonald's

In [76]:
list2 = mystring4.split('_')

In [77]:
list2

['have', 'you', 'gone', 'to', "McDonald's"]

In [78]:
list2[2]

'gone'

In [79]:
x = list2[2]
x = 'G' + x[1:]
list2[2] = x
#list2[2] = 'G' + list2[2][1:]

In [80]:
list2

['have', 'you', 'Gone', 'to', "McDonald's"]