# Lecture 28.11.2025

In [1]:
import numpy as np

p = np.array([1_000_000, 800_000, 500_000])   # stonks price
n = np.array([3, 4, 5])                       # qtty 

total = np.dot(p, n)  # или p @ n
print(total)

8700000

In [2]:
np.random.randint(10) # a random number is returned from integer 0 to 9 

np.random.randint(1,11) # a random number is returned from integer 1 to 10

6

In [3]:
while True:
    num = np.random.randint(1,11)
    print(num)
    if num == 5:
        break

4
3
6
10
8
8
4
9
6
10
3
10
4
7
9
3
5

In [4]:
x = np.array([0,1,2,3,4,5])

#np.sqrt(x)

np.exp(x)

array([  1.        ,   2.71828183,   7.3890561 ,  20.08553692,
        54.59815003, 148.4131591 ])

In [5]:
np.random.seed(123) # seed is a number that sets base point for the generator. it is important for repoductivity. 

a = np.random.randint(1, 11, size = 1000)

print(a)

[ 3  3  7  2  4 10  7  2  1  2 10  1  1 10  4  5  1  1  5  2  8  4  3  5
  8  3  5  9  1  8 10  4  5  7  2  6  7  3  2  9  4  6  1  3  7  3  5  5
  7  4  1  7  5  8  7  8  2  6  8 10  3  5  9  2  3  2  2  4  6 10  1  9
  2  7  4  4  6 10  8 10  3  4  4  4  9  7 10  8  7  4 10  7  7  7  2  4
  5  4  2  1  6  9  7  9 10  2  1  4  2  4  5  8  7  2  5  4  4  8  7  9
  7  5  5  8  1  1 10  9  9  5  9  7  2  7  9  8 10  2  8  2  8 10  9  8
  2  4  2  9  8  6  2  3  6  3  3 10  4  3  7  8 10  2  4  9  4  8 10 10
  4  4  6  7  1  9  8  8  5  5  6  1  9 10  3  6  2  6 10  3  5  4  1  4
  8  8  3  6  2  8  6 10  2  3  9  6  1 10  4  4  4  2  8  7  4  2  8  3
  7  6 10  9 10  5  8  9  6 10  3  5  4  4  2  8  9  6  8  8  8  6  1  1
  9  2  1  5  6  5  6  1  8  2  3  3  8  8  4  7  2  9  5  2  7  6 10  1
  4  2  4  8  8  8  6  4  7  4  6  2  6 10  2  4 10  2  6  7  2  6  1  8
  1  4  1  7  3  8  6  2  1  1  3  7  6 10  2  6  4  7  5  8  2  7  1  4
  2  4  1  9  6  2  5  4  3  3  1  3  1  3  8 10  1  4 10  8  1  6  5  7
  1  8  9  9  2  1  2  8  6  4  1  5  9  5 10  4  6  2  9  1 10  2  6  9
  9  5  7  9  8 10  3  1  1 10 10  6  4  6  6  3  3  8  4  2  4 10  4  7
  3  4  2 10  9  1  3  4  8 10  3  8 10  8  2  5  8  5  8  9  1  3  8  5
  4  8  4  8  1  8  7  9  7  9  1  6  4  3  5  4  4 10  8  2  9  1  2  5
  8  3  5  9  4  5 10  7  3  8  8  8  5  8  9  5  1  8  7  4  5  2  2  8
  3  8  9 10  5  5  5  8  8 10 10  5  2  6  6  9 10  6  2  1  7  1 10  5
  7  5  6  4  5  7  3  6  3  5  4  3  5  9  1  7  9  9  6  7  6  7  1  5
 10  1  9  1  6  7  7  9  9  5  5  1  2 10  1  8  6  5  8  3  4  6  6  5
  3  7 10  8 10  5 10  7  6  8  4 10  2  4 10  4  9  4  6  7  8  7  6  8
  2  2  7  7  5 10  1 10  4  9  6  4  4  9  8  1  2  8  3  4  6  6  1  3
  6  9 10  8 10  8  5  6  2  9  7  9  5  3  8  2  7  3  7  6  7  1  4  3
  3 10  8  6  6  1  1 10  4  8  2  9  3  6  1  2  1  8  8  6  9  2  6  7
  8  1  7  5  2  5  3  3  2  1 10  2  2  7  7  4 10  7  8  8  7  2 10  4
  8  3  4  9  1  4  4 10  9  7  4  8  6  9  5  9  6  2  8  3  8  9  2  8
  2  9  2 10  3  4  5  3  1  8  6 10  9  6  1  6  6  2  4  9  1  9  1  1
 10  3  6  2  3  4  1  7  8  4 10  8 10  5  9  1 10  8  1  1  3  5 10  2
 10  6  9  6  7  9  5  9  5  2  4  3  8  1  7  3  8  4  7  5  3  7 10 10
  5  8  1  4  4  2  3  2  4  1  5  8  5  5  8  7  4  4 10  7  8  5 10  2
  8  5  1  2  3  4 10  1  7  9  3  5  2 10  7  1  4  6  3 10  7  8 10  6
  8  6  5  5  8  9  1  3  3  1  8  2  2  1  3  8  6 10  4  4  7  6  5  9
 10  7  5  9  1  7  5 10  1  1  6  9  1  9  2  7  5  8  3  6  5  7  4  1
  5 10 10  1  3  8  7  1  4  7  5  2  6  4  9 10  1  9 10  8  3  5  1  9
  4  3  4  7  3  9  6  5  5  1  1  4  9  6  5  2  5  3  2  5  2  9  2  2
  8  3  9 10  9  4  4  5  4  4  7  2  7  3  8  8  1  6  5  7  2  2  5  1
  8  7  9  8  7  9  3  7  5  1  6  9  7  5  3  5  1  1  6 10  1 10  9  7
  6  6  4  9  2  9  4  8  9  6 10  2  5 10  4  5  5  5  1  1  7  9  5  9
  1  2  8  7  3  7  5  3  5  8  6  9  2  4  4 10  2  6  6  3  5  7 10  1
 10  6  4  2  8  7  6  7  3  9  2  3  5  8 10  6]

In [6]:
np.size(a) # shows the size of array

np.unique(a) # show all unique elements in the array

np.sum(a) # sum all the elements

np.int64(5485)

In [7]:
#np.var(a), 2

np.mean(a)

np.float64(5.485)

---

# Lecture 08.12.2025

In [5]:
import pandas as pd

iris_df = pd.read_csv("data_iris.csv")

type(iris_df)

iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
iris_df.head(10)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [11]:
iris_df.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [14]:
iris_df.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

- Used to check column name. 
- iris_df.columns(). Since its not a method, () not used

In [19]:
iris_df.columns = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species'] # needed to chanage columns name, important to mention all

In [15]:
iris_df.index

RangeIndex(start=0, stop=150, step=1)

In [ ]:
iris_df["Sepal_Length"]

# ["x"] return series

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal_Length, Length: 150, dtype: float64

In [ ]:
iris_df[["Sepal_Length", "Sepal_Width"]]

#[["x"]] return DataFrame 2d

     Sepal_Length  Sepal_Width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

### You can use [https://notebooklm.google/](notebooklm) to discover new topics. Efficent way to study!

In [51]:
import pandas as pd
import kagglehub

path=kagglehub.dataset_download("uciml/iris")

iris_df = pd.read_csv(path+"/Iris.csv")

In [12]:
iris_df["Species"].unique() # display all species of the flower, find all unique types

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [15]:
species = iris_df["Species"].value_counts()

species

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [7]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
iris_df.index

RangeIndex(start=0, stop=150, step=1)

In [13]:
iris_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
species.index

Index(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype='object', name='Species')

In [19]:
species.index = ['setosa', 'versicolor', 'virginica']

species.index

Index(['setosa', 'versicolor', 'virginica'], dtype='object')

In [20]:
iris_df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
iris_df.columns = ['#', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species'] 

iris_df # method to rename columns, where your need to specify all coloumns

,#,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris_df.rename(columns={"#" : "ID"}, inplace = True) # method of renameing where you can just display view or rename via inplace = True

,ID,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [30]:
iris_df

,#,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris_df.drop(3) # Delele 3th element

,#,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris_df.drop("Species", axis=1) # Delele Species column in our view

       #  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [40]:
# Create 2 varibales to show sepal and species separately 

x = iris_df.drop(["#", "Species"], axis = 1)
y = iris_df["Species"]

In [37]:
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [ ]:
y.head()

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [39]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [ ]:
iris_df3 = iris_df[:] # iris_df3 = iris_df.copy # 2 ways to copy data, copy is better method for ML

iris_df3

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [ ]:
iris_df3.drop("Id", axis=1, inplace=True)

iris_df3

/var/folders/f0/5pscm8bn3_b1lzm0jmnw63rh0000gn/T/ipykernel_53349/1892311811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df3.drop("Id", axis=1, inplace=True)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
iris_df.loc[101] # loc is location

Id                          102
SepalLengthCm               5.8
SepalWidthCm                2.7
PetalLengthCm               5.1
PetalWidthCm                1.9
Species          Iris-virginica
Name: 101, dtype: object

In [84]:
iris_df.loc[5, "SepalLengthCm"]

np.float64(5.4)

In [87]:
iris_df4 = iris_df.loc[3]

In [ ]:
iris_df.PetalLengthCm # or iris._df["PetalLengthCm"] # needed to display colomn called PetalLength

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLengthCm, Length: 150, dtype: float64

In [ ]:
iris_df.set_index("Id", inplace=True)

In [94]:
iris_df.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150],
      dtype='int64', name='Id', length=150)

In [97]:
iris_df.loc[151] = 0

In [98]:
iris_df.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica
151            0.0           0.0            0.0           0.0               0

In [102]:
iris_df.loc[153] = [1,2,3,4,5]

In [103]:
iris_df.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica
151            1.0           2.0            3.0           4.0               5
153            1.0           2.0            3.0           4.0               5

In [ ]:
iris_df.reset_index() # returns only view

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica
150,151,1.0,2.0,3.0,4.0,5
151,153,1.0,2.0,3.0,4.0,5

In [ ]:
iris_df.drop(153, inplace=True) # needed to delete

In [112]:
iris_df.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

# Finished on 243 slide